.card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 0.25rem;
    width: 90%;
    max-width: 40rem;
    margin:auto;
  }
  
  .input {
    margin: 1rem auto;
    padding: 0.5rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }
  
  .button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 1rem auto;
    margin: 1rem auto;    
    
  }